@@include("../../bower_components/normalize-css/normalize.css")

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_extrabold';
    src: url('../fonts/OpenSans-Extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSansCyrl_500';
    src: url('../fonts/MuseoSansCyrl_500-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSansCyrl_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




html{
	background-color: #c4c4c4;
}


body{
	margin: 0 auto;
	box-shadow: 2px 2px 5px 5px #737373;
}

@media (min-width: 1358px){
	body{
		width: 1358px;
	}
}

@media (min-width: 1024px ) and (max-width: 1357px){
	body{
		width: 1024px;
	}
}

@media (min-width: 768px ) and (max-width: 1023px){
	body{
		width: 768px;
	}
}
	
@media (max-width: 768px ) {
	body{
		max-width: 768px;
		min-width: 320px;
	}
}
.mainHeader{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #fff;
	color: #000;
}

@media (max-width: 768px){
	.mainHeader__wrap{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: -25px;

	}

	.mainHeader__navigation{
		max-width: 100%;
		order: -1;
		
	}

	.mainHeader__navigation--hide{
		display: none;

	}
}


@media (min-width: 768px){
	.mainHeader{
		height: 86px;
	}

	.mainHeader__wrap{
		padding: 0;
		width: 86.9%;
		margin: 0 auto;

	}

	.mainHeader__navigation{
			float: right;
		}

	.mainHeader__navigationList{
		font-size: 0;
		line-height: 0;
		list-style: none;
	}

	.mainHeader__navItem{
		vertical-align: top;
		display: inline-block;
	}

}

.mainHeader__navigationList{
	padding: 0;
	margin: 0;
}


@media (min-width: 768px){
	.mainHeader__navItem{
		margin-top: 35px;
	}
}

@media (max-width: 768px){
	.mainHeader__navItem:last-child{
		display: none;
	}
	.mainHeader__navItem:nth-child(n+2)::before{
		content: "";
		display: block;
		max-width: 768px;
		height: 1px;
		background:  linear-gradient(to right, rgba(252,255,244,0) 0%,rgba(251,254,243,0) 1%,rgba(226,232,218,1) 36%,rgba(223,229,215,1) 40%,rgba(216,223,208,1) 50%,rgba(205,213,198,1) 65%,rgba(179,190,173,0) 100%);
		margin-left: 20%;
		margin-right: 20%;
	}
}

.mainHeader__navItem{
	font-size: 16px;
	line-height: 25px;
	list-style: none;
}

@media (max-width: 768px ) {
	.mainHeader__navItem{
		text-align: center;
	}
}	

.mainHeader__navLink--active,
.mainHeader__navLink{

	padding-top:  25px;
	padding-bottom: 25px;

	color: #4b4b4b;
	text-decoration: none;
	font-size: 16px;
	line-height: 25px;
	
}

@media (min-width: 1358px){
	.mainHeader__navLink--active,
	.mainHeader__navLink{

		padding-left: 25px;
		padding-right: 25px;
	}
}


@media (min-width: 1024px ) and (max-width: 1357px){
	.mainHeader__navLink--active,
	.mainHeader__navLink{
		padding-left: 22px;
		padding-right: 22px;
	}
}


@media (min-width: 768px ) and (max-width: 1023px){
	.mainHeader__navLink--active,
	.mainHeader__navLink{
		padding-left: 14px;
		padding-right: 14px;
	}
}

@media (max-width: 768px){
	.mainHeader__navLink--active,
	.mainHeader__navLink{
		display: block;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}


.mainHeader__navLink{
	font-family: 'open_sanssemibold';
	font-weight: 700;
}

.mainHeader__navLink--active{
	font-family: 'open_extrabold';
	font-weight: 700;
	color: #e54646;
}

.mainHeader__navLink:hover{
	opacity: 0.7;
}

@media (min-width: 768px){
	.mainHeader__logo{
		margin-top: 12px;
		position: relative;
		z-index: 1;
	}
	.mainHeader__navigationToggleBtn{
		display: none;
	}
	
	.mainHeader__mobileSherch{
		display: none;
	}
}


@media (max-width: 768px){
	.mainHeader__logo{
		display: block;
		margin: 0 auto;

	}
	
	.mainHeader__logoLink{
		z-index: 1;
	}
	
	.mainHeader__mobileSherch{
		position: absolute;
		display: block;
		right: 10px;
		top: 10px;
		width: 56px;
		height: 56px;
		background: url(../img/search.png) no-repeat;
		background-position: center;
		z-index: 2;
	}

	.mainHeader__navigationToggleBtn{
		position: absolute;
		left: 10px;
		top: 10px;
		border: none;
		width: 56px;
		height: 56px;
		z-index: 2;
		box-sizing: border-box;
		background-color: transparent;
		outline: 0 none;
		cursor: pointer;

	}	



	.mainHeader__navigationToggleBtnItem{
		margin: 1px;
		width: 30px;
		height: 4px;
		border-radius: 4px;
		background-color: rgba(216,223,208,1);
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -15px;
		margin-top: -2px;
	}

	.mainHeader__navigationToggleBtnItem:first-child{
		margin-top: -10px;
	}
	
	.mainHeader__navigationToggleBtnItem:last-child{
		margin-top: 6px;
	}

	.mainHeader__navigationToggleBtnItem--hide:first-child{
		transform: rotate(45deg);
		margin-top: -2px;
	}
	.mainHeader__navigationToggleBtnItem--hide:nth-child(2){
		display: none;
	}
	.mainHeader__navigationToggleBtnItem--hide:last-child{
		transform: rotate(-45deg);
		margin-top: -2px;
	}
}



.mainContent{
	padding: 0;
	margin: 0 auto;
	height: 780px;
	background: url(../img/background.png) no-repeat center;

	position: relative;
	margin-bottom: -80px;
}

.mainContent__wrap{
	width: 86.9%;
	height: 780px;
	margin: 0 auto;
	position: relative;
	
}




.mainContent__features{
	
	position: absolute;
}

.mainContent__slogan{
	margin: 0;
	margin-top: 175px;
	font-size: 50px;
	line-height: 56px;
	color: #313131;
	font-family: 'MuseoSansCyrl_500';
}

.mainContent__features--moreBtn{
	height: 55px;
	width: 79.2%;
	background-color: #e83f3f;
	display: block;
	border-radius: 30px;
	text-align: center;
	padding-top: 5px;
	font-size: 13px;
	line-height: 52px;
	text-decoration: none;
	color: #fff;
	margin-top: 25px;
	font-family: 'open_sansbold';
	font-weight: 700;


}

.mainContent--prevSlid,
.mainContent--nextSlid{
	position: absolute;
	display: block;
	height: 90%;
	width: 7.6%;
	
}
.mainContent--prevSlid{
	margin-left: -7.6%;
}
.mainContent--nextSlid{
	right: 0;
	margin-right: -7.6%;
}

.mainContent--prevSlid::after{
	content: "";
	width: 18px;
	height: 30px;
	display: block;
	position: absolute;
	background: url(../img/left.png);
	top: 220px;
	left: 50%;
	margin-left: -9px;
}

.mainContent--prevSlid:hover::after{
	background: url(../img/right-arrow.png);
	transform: scale(-1,1);
}

.mainContent--nextSlid::after{
	content: "";
	width: 18px;
	height: 30px;
	display: block;
	position: absolute;
	background: url(../img/left.png);
	transform: scale(-1,1);
	top: 220px;
	left: 50%;
	margin-left: -9px;
}

.mainContent--nextSlid:hover::after{
	background: url(../img/right-arrow.png);
	transform: scale(1,1);
	
}





.mainContent__slider{
	position: absolute;
	line-height: 0;
	font-size: 0;
	left: 50%;
	margin-left:-75px; 
	bottom: 113px;
}

.mainContent__sliderItem{
	display: inline-block;
	background-color: transparent;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin-right: 13px;
}



.mainFooter{
	position: relative;
	z-index: -1;
	height: 80px;
	background-color: #464646;
	
	color: #909090;

}


.mainFooter__wrap{
	width: 86.9%;
	margin: 0 auto;
	padding-top: 33px;
}
.mainFooter__copyright{
	margin: 0;
	font-family: 'open_sansbold';
}




.mainConten__sliderList--first{
	animation: cycleOne 30s infinite;
}
.mainConten__sliderList--second{
	animation: cycleTwo 30s infinite;
}
.mainConten__sliderList--third{
	animation: cycleThree 30s infinite;
}
.mainConten__sliderList--fourth{
	animation: cycleFour 30s infinite;
}

@keyframes cycleOne{
	0% 		{background-color: #e83f3f}
	25%		{background-color: #bcbcbc}
	50%		{background-color: #bcbcbc}
	75%		{background-color: #bcbcbc}
	100%	{background-color: #e83f3f}
}

@keyframes cycleTwo{
	0% 		{background-color: #bcbcbc}
	25%		{background-color: #e83f3f}
	50%		{background-color: #bcbcbc}
	75%		{background-color: #bcbcbc}
	100%	{background-color: #bcbcbc}
}

@keyframes cycleThree{
	0% 		{background-color: #bcbcbc}
	25%		{background-color: #bcbcbc}
	50%		{background-color: #e83f3f}
	75%		{background-color: #bcbcbc}
	100%	{background-color: #bcbcbc}
}

@keyframes cycleFour{
	0% 		{background-color: #bcbcbc}
	25%		{background-color: #bcbcbc}
	50%		{background-color: #bcbcbc}
	75%		{background-color: #e83f3f}
	100%	{background-color: #bcbcbc}
}
